@charset "UTF-8";

.cl_headLineName {display: flex; justify-content: space-between; align-items: flex-end; font-weight: bold; font-size: 30px; word-spacing: unset; font-family:'NotoSansKRB'; color: #222; margin-bottom: 30px;}
.cl_headLineName > a {font-size: 13px; font-family:'NotoSansKRDL'; color: #777; cursor: pointer;}
.cl_headLineName > a::after {content: '>'; display: inline-block;}
.cl_headLineName > a:hover {text-decoration: underline;}

/*기본 버튼 모양*/
.cl_defaultBtn {width: 100%; border: none; color: #fff;}

/* 색상 */
.yellow {background-color: #f5d60b;}
.green {background-color: #1ec800;}
.black {background-color: #222;}
.orange {background-color: #fe5342;}

/* 컨텐츠간 여백 */
.divisionSpace {margin-bottom: 90px;}

/* top버튼 */
.cl_fixedArea {position: fixed; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 58px; height: auto; bottom: 20px; right: 45px;}
.cl_fixedArea a {display: block; width: inherit;}
.cl_fixedArea a img {width: inherit;}

.cl_fixedArea .chat {position: relative;}
.cl_fixedArea .chat > span {position: absolute; right: 0; top: 0; width: 20px; height: 20px; line-height: 20px; border-radius: 100%;
    font-size: 12px; background-color: #E94E58; color: #fff; text-align: center;}
