@charset "UTF-8";

.cl_headLineName {display: flex; justify-content: space-between; align-items: flex-end; font-weight: bold; font-size: 30px; word-spacing: unset; font-family:'NotoSansKRB'; color: #222; margin-bottom: 30px;}
.cl_headLineName > a {font-size: 13px; font-family:'NotoSansKRDL'; color: #777; cursor: pointer;}
.cl_headLineName > a::after {content: '>'; display: inline-block;}
.cl_headLineName > a:hover {text-decoration: underline;}
