@charset "UTF-8";

.cl_headLineName {display: flex; justify-content: space-between; align-items: flex-end; font-weight: bold; font-size: 30px; word-spacing: unset; font-family:'NotoSansKRB'; color: #222; margin-bottom: 30px;}
.cl_headLineName > a {font-size: 13px; font-family:'NotoSansKRDL'; color: #777; cursor: pointer;}
.cl_headLineName > a::after {content: '>'; display: inline-block;}
.cl_headLineName > a:hover {text-decoration: underline;}

/*기본 버튼 모양*/
.cl_defaultBtn {width: 100%; border: none; color: #fff;}

/* 색상 */
.yellow {background-color: #f5d60b;}
.green {background-color: #1ec800;}
.black {background-color: #222;}
.orange {background-color: #fe5342;}

/* 컨텐츠간 여백 */
.divisionSpace {margin-bottom: 90px;}

/* 모달내부 상단 */