@charset "UTF-8";
/* =========================================== */
/* layout */
/* =========================================== */
.Wrap {}
.contentWrap {max-width: 1270px; width: 100%; margin: 0 auto; padding: 0 30px; box-sizing: border-box;}




/* =========================================== */
/* header */
/* =========================================== */
header {display: flex; justify-content: space-between; align-items: center; height: 106px;}
header h1 {}
header h1 a {display: block; width: 221px;}
header h1 a img {display: block; width: inherit; height: inherit;}

header .searchCon {position: relative}
header .searchCon input[type=text] {width: 470px; height: 55px; border: 4px solid #FE5342; border-radius: 40px; padding-left: 20px; box-sizing: border-box; outline: none;
font-size: 14px;}
header .searchCon input::placeholder {font-size: 15px; color: #888;}
header .searchCon input:focus::placeholder {visibility: hidden;}
header .searchCon .iconSearch {position: absolute; top: 15px; right: 0; transform: translateX(-50%); width: 30px; height: 30px; cursor: pointer;}

header .userCon .userList {margin-bottom: 20px; text-align: center;}
header .userCon .userList span {display: inline-block; font-size: 12px; color: #757575; font-weight: bold;}
header .userCon .userList span:after {content: "ㆍ"; padding: 0 5px; box-sizing: border-box;}
header .userCon .userList span:last-child:after {display: none;}

header .userCon .iconBox {display: flex; justify-content: space-between;}
header .userCon .iconBox .iconList {margin-right: 15px; box-sizing: border-box;}
header .userCon .iconBox .iconList:last-child {margin-right: 0;}
header .userCon .iconBox .iconList a {display: flex; flex-direction: column; text-align: center;}
header .userCon .iconBox .iconList a:hover .txt {text-decoration-line: underline; font-weight: bold;}
header .userCon .iconBox .iconList a img {margin-bottom: 7px; width: 20px; height: 20px;}
header .userCon .iconBox .iconList a .txt {font-size: 12px; color: #222;}

header .userCon .iconBox .shoppingNum {display: inline-block; width: 15px; background-color: #FE5342; color: #fff; border-radius: 50%;}

.navContainer {height: 56px; border-top: 1px solid #eee; border-bottom: 1px solid #888; box-sizing: border-box;}
.navContainer .navInner {display: flex; flex-direction: row; justify-content: flex-start; align-items: center; height: 56px; line-height: 56px; font-size: 15px;}
.navContainer .btnMenu {display: flex; height: inherit; border-left: 1px solid #E8ECF2; border-right: 1px solid #E8ECF2; }
.navContainer .btnMenu a {display: block; padding: 0 31px;}
.navContainer .btnMenu img {display: inline-block; width: 20px; height: 20px;}
.navContainer .btnMenu span {margin-left: 10px;}
.navContainer .navList {height: inherit;}
.navContainer .navList a {display: inline-block; padding: 0 31px;}

/* =========================================== */
/* footer */
/* =========================================== */
footer {background-color: #FAFAFA; border-top: 1px solid #E8E8E8;}
footer .companyInforBox {display: flex; align-items: center; height: 54px; border-bottom: 1px solid #E8E8E8;}
footer .companyInforBox a {font-size: 15px; color: #777777; font-family:'NotoSansKRDL'; box-sizing: border-box; cursor: pointer;}
footer .companyInforBox a:nth-child(5) {color: #000; font-weight: 700;}
footer .companyInforBox a:nth-child(5):hover {color: #000;}
footer .companyInforBox a:hover {color: #FE5342;}
footer .companyInforBox a:after {content: ''; display: inline-block; width: 1px; height: 15px; margin: 0 8px; box-sizing: border-box; background-color: #E0E3E8;}
footer .companyInforBox a:last-child:after {content:none;}

footer .footerServiceContainer {display: flex; justify-content: space-between; border-bottom: 1px solid #E8E8E8; padding: 2em;}
footer .serviceList.lft > div {font-size: 15px; color: #222; font-family:'NotoSansKRM';}
footer .serviceList.lft .num {margin-bottom: 10px; font-size: 34px; color: #FC5443; cursor: pointer;}

footer .serviceList.lft .time {margin-bottom: 27px;}
footer .serviceList.lft .time span {font-size: 14px; color: #111; font-family:'NotoSansKRDL';}
footer .serviceList.lft .time span:nth-child(1):after {content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 8px; box-sizing: border-box; background-color: #111;}
footer .serviceList.lft .time span:last-child {display: block;}

footer .serviceList.lft .qBox {display: flex;}
footer .serviceList.lft .qBox a {display: flex; justify-content: center; align-items: center; width: auto; height: 32px; margin-right: 5px; border-radius: 16px; padding: 0 25px; background-color: #111; color: #fff;}
footer .serviceList.lft .qBox a:after {content:''; display: inline-block;}
footer .serviceList.lft .qBox a:last-child {margin-right: 0;}

footer  .serviceList.rgt {width: 30%;}
footer  .serviceList.rgt .cl_headLineName {display: flex; align-items: center; height: 45px; margin-bottom: 0; font-size: 15px; border-bottom: 1px solid #E8E8E8;}
footer  .serviceList.rgt .cl_headLineName a {font-size: 13px;}
footer  .serviceList.rgt .noticeBox {display: flex; flex-direction: column; font-size: 15px; color: #888;}
footer  .serviceList.rgt .noticeBox a {overflow: hidden; height: 34px; line-height: 34px; text-overflow: ellipsis; white-space: nowrap; color: #888;}
footer  .serviceList.rgt .noticeBox a:hover {text-decoration: underline; font-family:'NotoSansKRDL';}

.addContainer {padding: 2em;}
footer address {position:relative; display: flex; justify-content: space-between; font-size: 15px; font-style: normal; font-family:'NotoSansKRDL';}
footer address .comName {margin-bottom: 5px; color: #222;}

footer address .comPakages {margin-bottom: 20px;}
footer address .comPakages.wrap {display: flex; flex-wrap: wrap; width: 50%;}
footer address .comPakages.wrap span:first-child {margin-right: 0;}
footer address .comPakages.wrap span:after {content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 8px; box-sizing: border-box; background-color: #777;}
footer address .comPakages.wrap span:last-child:after {content: none;}

footer address .comPakages span:first-child {color: #111; margin-right: 5px;}
footer address .comPakages span:last-child {margin-right: 0;}
footer address .comPakages span:after {content: none;}
footer address .comPakages a {font-size: 13px; color: #111;}
footer address .comPakages a:hover {text-decoration: underline; color: #111;}
footer address .comPakages span {font-size: 13px; color: #777;}
footer address .addBox p {color: rgba(153, 153, 153, .6);}

footer address .snsBox {position: absolute; right: 0; top: 0; display: flex;}
footer address .snsBox a {display: flex; justify-content: center; align-items: center; background-color: #AFAFAF; width: 40px; height: 40px; margin-right: 10px; border-radius: 50%;}
footer address .snsBox a:last-child {margin-right: 0;}

/* =========================================== */
/* mainVisual */
/* =========================================== */
.mainVisualSlide {font-size: 15px; color: #222; text-align: center; margin-bottom: 91px;}
.mainVisualSlide .mainImgContainer {position: relative; display: flex; justify-content: center;}
.mainVisualSlide .mainImgContainer img {}
.mainVisualSlide .mainImgContainer:after {position: absolute; left: 0; bottom: 0; content: ''; display: block; width: 100%; height: 1px; background-color: #E3E7ED;}
.mainVisualSlide .slideNavBar {position: relative; display: flex; justify-content: center; height: 51px; line-height: 51px;}
.mainVisualSlide .slideNavBar a {display: block; width: 116px; height: inherit; border-left: 1px solid #E3E7ED; border-bottom: 1px solid #E3E7ED; box-sizing: border-box;}
.mainVisualSlide .slideNavBar a:hover {background-color: #000; color: #fff;}
.mainVisualSlide .sliderBtnBox {position: relative; right: 0; width: 50px; height: inherit; border-bottom: 1px solid #E3E7ED; background-color: #b1b1b1;}

/* =========================================== */
/* 눈이 가는 핫#키워드 */
/* =========================================== */
.mainSection {margin-bottom: 91px;}
.mainSection .keyWordList {display: flex; flex-direction: row; justify-content: space-between;}
.mainSection .keyWordList li {margin-right: 20px; text-align: center;}
.mainSection .keyWordList li:last-child {margin-right: 0;}
.mainSection .keyWordList a {display: block;}
.mainSection .keyWordList a:hover .keyWordSubName {text-decoration: underline; color: #FB5443;}
.mainSection .keyWordList .keyWordImg {display: flex; flex-direction: column; width: 103px; height: 103px; margin-bottom: 24px;}

.mainSection .keyWordList .keyWordImg img {display: block; width: inherit; height: inherit; border-radius: 100%; background-color: #f8f8f8;}


/* =========================================== */
/* 추천상품 */
/* =========================================== */
.products {}
 .products .productsContainer {margin-bottom: 30px;}
.products .productsContainer .productsList {position: relative; cursor: pointer; margin-right: 30px;}
/*.products .productsContainer .productsList:last-child {margin-right: 0;}*/

.products .productsContainer .productsList div {margin-bottom: 10px;}
.products .productsContainer .productsList img {margin-bottom: 10px; box-sizing: border-box; border: 1px solid #eee;}
.products .productsContainer .productsList .benefits {font-size: 15px; color: #fc5443;letter-spacing: -0.18px;}
.products .productsContainer .productsList .tonymoly {color: #111; font-weight: bold;}
.products .productsContainer .productsList .productsName {display: inline-block; text-overflow: ellipsis; word-wrap: break-word; width: 278px; height: 25.5px; line-height: 25.5px; font-size: 17px; color: #111;}
.products .productsContainer .productsList .productsPrice {}
.products .productsContainer .productsList .productsPrice span {display: inline-block;}
.products .productsContainer .productsList .productsPrice .price {color: #222; font-weight: bold;}
.products .productsContainer .productsList .productsPrice .price::after {content: '원'; display: inline-block; box-sizing: border-box;}
.products .productsContainer .productsList .productsPrice .percent {margin-right: 4px; color: #fc5443; font-weight: bold;}
.products .productsContainer .productsList .productsPrice .discount {color: #888; text-decoration: line-through; margin-right: 3px;}
.products .productsContainer .productsList .productsPrice .basicPrice {}


.products .productsContainer .productsList .flagBox {display: inline-block;}
.products .productsContainer .productsList .flagBox .flag {padding: 0 2px; margin-right: 2px; box-sizing: border-box; font-size: 13px; border: 1px solid #888; color: #888;}

.products .productsContainer .productsList .grade  {font-size: 14px;; color: #B1B1B1;}
.products .productsContainer .productsList .grade .score::after {content: '|'; display: inline-block; margin: 0 6px;}
.products .productsContainer .productsList .grade .review {}

.products .productsContainer .productsList .dimmerBg {position: absolute; top:0; left: 50%; width: 100%; height: 280px; transform: translateX(-50%); transition: .5s;}
.products .productsContainer .productsList .dimmerBg .dimmedCon {opacity: 0; position: absolute;  top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; transition: .5s;}
.products .productsContainer .productsList .dimmerBg .dimmedCon a {display: flex; width: 60px; height: 60px; justify-content: center; align-items: center; border-radius: 100%; margin-right: 5px;}
.products .productsContainer .productsList:hover .productsName {text-decoration: underline; font-weight: bold;}
.products .productsContainer .productsList:hover .dimmedCon {opacity: 1;}
.products .productsContainer .productsList:hover .dimmerBg {background-color: rgba(255,255,255,0.5);}

.products .productsContainer .productsList .dimmerBg .dimmedCon a:last-child {margin-right: 0;}
.products .productsContainer .productsList .dimmerBg .dimmedCon a:nth-child(1) {color: #fff; background-color: black;}
.products .productsContainer .productsList .dimmerBg .dimmedCon a:nth-child(2) {color: #fc5443; background-color: #fff;}
.products .productsContainer .productsList .dimmerBg .dimmedCon a:nth-child(3) {color: #fff; background-color: #fc5443;}
.products .productsContainer .productsList .dimmerBg .dimmedCon a .circle img {}


/*.slick-arrow {top: 105% !important;}*/
/*.slick-arrow.slick-prev {left: 42% !important; background: transparent !important;}*/
/*.slick-arrow.slick-next {left: 56% !important; background: transparent !important;}*/
.slick-prev:before, .slick-next:before {color: red!important; cursor: pointer;}



/* =========================================== */
/* 이벤트영역 */
/* =========================================== */
.eventArea {display: flex; padding: 100px 0;}
.eventArea a {margin-right: 10px;}
.eventArea a:last-child {margin-right: 0;}
.eventArea img {display: block; width: calc(100% /1);}